@model InventorySystem.Core.DTOs.SupplierDto

<h2>Supplier Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Company</dt>
    <dd class="col-sm-9">@Model.CompanyName</dd>

    <dt class="col-sm-3">Contact</dt>
    <dd class="col-sm-9">@Model.ContactName</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">@Model.Phone</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">@Model.Address</dd>

    <dt class="col-sm-3">Active</dt>
    <dd class="col-sm-9">@(Model.IsActive ? "Yes" : "No")</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.SupplierId" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
